  <p>
    <strong>User name:</strong>
    <%= user.fullname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

</div>
